[Unit]
Description=mod-host LV2 host (headless)
After=jack.service sound.target
Wants=jack.service

[Service]
Type=forking

# MUST match JACK user
User=pi
Group=audio

Environment=LV2_PATH=/usr/local/lib/lv2:/usr/lib/lv2
Environment=LV2_PATH=${LV2_PATH}:/home/pi/.lv2

# Correct binary location
ExecStart=/usr/local/bin/mod-host -p 5555
#ExecStartPost=/usr/local/bin/mod-host-init.sh

Restart=on-failure
RestartSec=2

# Real-time / audio privileges
LimitRTPRIO=95
LimitMEMLOCK=infinity

# Hardening (safe)
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
